body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo-word {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.logo-piece-up {
  color: #2e2f42;
}
.logo-piece-down {
  color: #f4f4fd;
}

/*Header*/

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}
.contact {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.contact:hover,
.contact:focus {
  color: #404bbf;
}

/***********/

/*Main*/
.hero {
  background-color: #2e2f42;
}

.hero-text {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.hero-button {
  background: #4d5ae5;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.advantages,
.team-list,
.portfolio {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.mini-topic,
.human-worker,
.name-thing {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.exp-text,
.profesional,
.portfolio-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.team {
  background-color: #f4f4fd;
}
.worker {
  background-color: #ffffff;
}

/***********/

/*Fotter*/
footer {
  background-color: #2e2f42;
}

.down-text {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/***********/
